<a href="/sessions/new">Login</a>
,
<a href="/sessions/current">Log Out</a>
|
<a href="http://lvh.me:3000/">Iron Ocean</a>,
<a href="http://blog.lvh.me:3000/">Blogs</a>,
<a href="http://admin.lvh.me:3000/">Admin</a>

|
<div class="visible-xs">Iphone</div>
<div class="visible-sm">Ipad</div>
<div class="visible-md visible-lg">Monitor</div>
