/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/

.green{background-color: green;}
.blue{background-color: blue;}
.yellow{background-color: yellow;}
.red{background-color: red;}
.orange{background-color: orange;}

// For user edit btn on index table on admin/#/users, this is used to shrink the edit button so rows arn't so tall.
.vertical-padding-0{
  padding-top: 0;
  padding-bottom: 0;
}

// When a button has a loading spinner, it has a loading spinner with the display none so we can toggle on/off the spinner without lag
.waiting-view {
  display: none;
}

// Used for admin index page, so the index table's row has the last row pulled right.
.text-align-right{
  text-align: right;
}

// This is used for index table buttons on tablet and mobile width so the buttons fit row height.
.font-18{
  font-size: 18px;
}

// Used in index table buttons to standardize width
.width-40{
  width: 40px;
}
.width-60{
  width: 60px;
}

// Used on header of index page so search bar and new button are on level with header
.margin-top-20{
  margin-top: 20px;
}

// For modal error messages
.error-message{
  border-radius: 7px;
  font-size: 12px;
  background-color: red;
  color: white;
  padding: 3px 8px;

}

// Used for textarea height in deactivate user modal
.height-100-i{
  height: 100px !important;
}
