<div id="edit_user_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <form id="edit_user_form" ng-submit="update(user)" role="form">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit User</h4>
        </div>

        <ul class="nav nav-tabs">
          <li class="active">
            <a data-target="#edit_user_details" data-toggle="tab">User</a>
          </li>
          <li>
            <a data-target="#edit_user_address" data-toggle="tab">Address</a>
          </li>
        </ul>

        <div class="modal-body">
          <div class="tab-content">
            <div class="tab-pane active" id="edit_user_details">
              <div ng-include="'/assets/admin/views/users/user_details.html'"></div>
            </div>
            <div class="tab-pane" id="edit_user_address">
              <div ng-include="'/assets/admin/views/users/user_address.html'"></div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <input type="submit" value="Update" class="standard-view btn btn-success">
          <a class="waiting-view btn btn-success">
            <i class="fa fa-spinner fa-spin fa-1x"></i>
          </a>
          <a type="button" class="btn btn-default" data-dismiss="modal">Close</a>
        </form>
      </div>
    </div>
  </div>
</div>
