<div ng-include="'/assets/admin/views/users/new_user.html'"></div>
<div ng-include="'/assets/admin/views/users/edit_user.html'"></div>

<div class="container">

  <!-- User Header -->
  <div class="col-md-6 col-sm-3 col-xs-6">
    <h1>Users</h1>
  </div>
  <div class="col-lg-3 col-md-2 col-sm-4 col-xs-6">
    <a class="btn btn-success margin-top-20 pull-right" ng-click="new()" data-toggle="modal" data-target="#new_user_modal">New User</a>
  </div>
  <div class="col-xs-12 visible-xs">
    <form class="default pull-right" role="search">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
        <input type="text" class="form-control" placeholder="Search Users" autofocus ng-model="search">
      </div>
    </form>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 hidden-xs">
    <form class="default margin-top-20 pull-right" role="search">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
        <input type="text" class="form-control" placeholder="Search Users" autofocus ng-model="search">
      </div>
    </form>
  </div>

  <!-- User Index - Mobile and Tablet layout -->
  <div class="visible-xs visible-sm col-xs-12">
    <table class="table table-hover table-condensed" >
      <thead>
        <tr>
          <th>User</th>
          <th></th>
        </tr>
      </thead>
      <tbody >
        <tr ng-repeat='user in users | filter:search'>
          <td>
            {{user.id}} {{user.first_name}} {{user.last_name}}
            <span ng-if="user.admin" style="color: #5cb85c">Admin</span><br>
            {{user.email}}
            <span class="vertical-padding-0">
              <i ng-if="user.email_confirmed" class="fa fa-check-circle-o" style="color: #5cb85c;"></i>
              <i ng-if="!user.email_confirmed" class="fa fa-times-circle-o" style="color: #d9534f;"></i>
            </span>
          </td>
          <td>
            <div class="pull-right visible-sm">
              <a class="btn btn-info font-18 width-60" ng-click="edit(user)" data-toggle="modal" data-target="#edit_user_modal">
                <i class="fa fa-pencil-square-o fa-1x standard-view"></i><i class="fa fa-spinner fa-spin fa-1x waiting-view"></i>
              </a>
              <a ng-if="user.active" class="btn btn-success font-18 width-60" data-toggle="modal" data-target="#activate-user-modal">
                <i class="fa fa-unlock fa-1x standard-view"></i><i class="fa fa-spinner fa-spin fa-1x waiting-view"></i>
              </a>
              <a ng-if="!user.active" class="btn btn-danger font-18 width-60" data-toggle="modal" data-target="#deactivate-user-modal">
                <i class="fa fa-lock fa-1x standard-view"></i><i class="fa fa-spinner fa-spin fa-1x waiting-view"></i>
              </a>
            </div>
            <div class="pull-right visible-xs">
              <a class="btn btn-info font-18 width-40" ng-click="edit(user)" data-toggle="modal" data-target="#edit_user_modal">
                <i class="fa fa-pencil-square-o fa-1x standard-view"></i><i class="fa fa-spinner fa-spin fa-1x waiting-view"></i>
              </a>
              <a ng-if="user.active" class="btn btn-success font-18 width-40" data-toggle="modal" data-target="#activate-user-modal">
                <i class="fa fa-unlock fa-1x standard-view"></i><i class="fa fa-spinner fa-spin fa-1x waiting-view"></i>
              </a>
              <a ng-if="!user.active" class="btn btn-danger font-18 width-40" data-toggle="modal" data-target="#deactivate-user-modal">
                <i class="fa fa-lock fa-1x standard-view"></i><i class="fa fa-spinner fa-spin fa-1x waiting-view"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- User Index - Monitor layout -->
  <div class="visible-md visible-lg col-md-12">
    <table class="table table-hover table-condensed" >
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody >
        <tr ng-repeat='user in users | filter:search'>
          <td>
            {{user.id}}
          </td>
          <td>
            {{user.first_name}} {{user.last_name}}
            <span ng-if="user.admin" style="color: #5cb85c">Admin</span>
          </td>
          <td>
            {{user.email}}
            <span class="vertical-padding-0">
              <i ng-if="user.email_confirmed" class="fa fa-check-circle-o" style="color: #5cb85c;"></i>
              <i ng-if="!user.email_confirmed" class="fa fa-times-circle-o" style="color: #d9534f;"></i>
            </span>
          </td>
          <td>
            <div class="pull-right">
              <a class="btn btn-info width-60 vertical-padding-0" ng-click="edit(user)" data-toggle="modal" data-target="#edit_user_modal">
                <i class="fa fa-pencil-square-o fa-1x standard-view"></i><i class="fa fa-spinner fa-spin fa-1x waiting-view"></i>
              </a>
              <a ng-if="user.active" class="btn btn-success width-60 vertical-padding-0" data-toggle="modal" data-target="#activate-user-modal">
                <i class="fa fa-unlock fa-1x standard-view"></i><i class="fa fa-spinner fa-spin fa-1x waiting-view"></i>
              </a>
              <a ng-if="!user.active" class="btn btn-danger width-60 vertical-padding-0" data-toggle="modal" data-target="#deactivate-user-modal">
                <i class="fa fa-lock fa-1x standard-view"></i><i class="fa fa-spinner fa-spin fa-1x waiting-view"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
