<fieldset>
  <div class="form-group col-sm-6">
    <label for="first_name">First Name:</label>
    <input class="form-control" type="text" ng-model="user.first_name" name="user[first_name]">
  </div>
  <div class="form-group col-sm-6">
    <label for="last_name">Last Name:</label>
    <input class="form-control" type="text" ng-model="user.last_name" name="user[last_name]">
  </div>
  <div class="form-group col-sm-6">
    <label for="email">Email:</label>
    <input class="form-control" type="text" ng-model="user.email" name="user[email]">
  </div>
  <div class="form-group col-sm-6">
    <label for="password">Password:</label>
    <input class="form-control" type="text" ng-model="user.password" name="user[password]">
  </div>
  <div class="form-group col-sm-6">
    <label for="time_zone">Time Zone:</label>
    <select class="form-control" ng-model="user.time_zone" name="user[time_zone]">
      <option value="pst">Pacific Standard Time</option>
      <option value="mst">Mountain Standard Time</option>
      <option value="cst">Central Standard Time</option>
      <option value="est">Eastern Standard Time</option>
    </select>
  </div>
</fieldset>
